<ion-header>
  <ion-toolbar color="primary">
    <ion-title>เครื่องดื่ม</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/72810107dff9129745e540099e19f7bd5_PasteurizedMilk_0_180ml_700x730.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>นมจืดเมจิ</h2>
        <p>ราคา 12 บาท</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/9c11438d24942b7f2162938b8a82a76b4_PasteurizedMilk_chocolate_180ml_700x730.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>นมเมจิรสช็อคกาแลต</h2>
        <p>ราคา 12 บาท</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/i30ge0.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>น้ำโออิชิ</h2>
        <p>ราคา 10 บาท</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/S_0011_8858998581221.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>น้ำเป๊ปซี่</h2>
        <p>ราคา 10 บาท</p>
      </ion-label>
    </ion-item>
</ion-list>


  <ion-footer>
    <ion-button expand="full" color="secondary" (click)="goBack()">ก่อนหน้า</ion-button>
    <ion-button expand="full" color="tertiary" (click)="goNdwdext()">ต่อไป</ion-button>
  </ion-footer>
</ion-content>