<ion-content [fullscreen]="true">
  <div class="content">
    
    <div class="image-container">

      <img class="top" src="assets/img/458356664_1716568719099134_6257289767583068808_n.jpg" alt="ร้านสเน็คบาร์" />
    </div>
    <p class="shop-title">ร้านสเน็คบาร์</p>
    <a routerLink="/product">
      <ion-button expand="block" size="default" color="tertiary" class="shop-button small-button" (click)="goNext()">
        <ion-icon slot="start" name="eye-outline"></ion-icon>
        ดูรายการสินค้า
      </ion-button>
    </a>
  </div>
</ion-content>
